table {
    margin: auto;
}

.nav-item {
    display: flex;
    margin: 0 auto;
    padding: 0 5%;
    width: 94%;
}

.nav-itemlog {
    padding: 0 0.5%;
    display: flex;
    list-style-type: none;
}


.hoge_button {
    text-align: center;
    margin-bottom: 50px;
}

a.btn--orange {
    color: #fff;
    background-color: #000000;
    border-bottom: 5px solid #000000;
}

a.btn--orange:hover {
    margin-top: 3px;
    color: #fff;
    background: #000000;
    border-bottom: 2px solid #000000;
}

a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.hoge_button2 {
    width: 250px;
}

a.btn--orange2 {
    color: #808080;
    background-color: #EEEEEE;
    border-bottom: 5px solid #EEEEEE;
}

a.btn--orange2:hover {
    margin-top: 3px;
    color: #808080;
    background: #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
}

a.btn--shadow2 {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.hoge_button3 {
    width: 250px;
}

a.btn--orange3 {
    color: #fff;
    background-color: #1E90FF;
    border-bottom: 5px solid #1E90FF;
}

a.btn--orange3:hover {
    margin-top: 3px;
    color: #fff;
    background: #1E90FF;
    border-bottom: 2px solid #1E90FF;
}

a.btn--shadow3 {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.bi-heart {
    color: red
}