.spinner-container {
  display: flex;
  justify-content: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.spinner {
  width: 70px;
  padding: 0;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  pointer-events: none;
}

.spinner::-webkit-inner-spin-button,
.spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spinner-sub,
.spinner-add {
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  line-height: 35px;
}

.disabled {
  opacity: 0.3;
  cursor: inherit;
}

.nav-item {
  display: flex;
  margin: 0 auto;
  padding: 0 5%;
  width: 94%;
}

.nav-itemlog {
  padding: 0 0.5%;
  display: flex;
  list-style-type: none;
}

.hoge_button3 {
  text-align: center;
  margin-bottom: 50px;
}

a.btn--orange3 {
  color: #fff;
  background-color: #1E90FF;
  border-bottom: 5px solid #1E90FF;
}

a.btn--orange3:hover {
  margin-top: 3px;
  color: #fff;
  background: #1E90FF;
  border-bottom: 2px solid #1E90FF;
}

a.btn--shadow3 {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.bi-heart {
  color: red
}

.hr1 {
  margin: 50px;
}